body{

    background-image: url(http://k37.kn3.net/taringa/1/5/4/7/6/2/72/ayleenxita/735.jpg?4627);
    background-color: rgb(100,100,100);
    background-blend-mode: soft-light;
    
    }
    
    .portafol{
    
    
    
        height: 100%;
        width:  100%;
        color: #ffffff;
        display: flex;
        
        
        flex-direction:column;
        background-size: cover;
        background-position: center;
        
       
    
    }

    .house img{

        height: 120px;
        width: 150px;
      
        
        

    }

    .yellow img{

        height: 120px;
        width: 150px;

    }

    .pulpo img{

        height: 120px;
        width: 150px;

    }
    